<header class="header-page" id="header-page">
    <h1>Academia Virtual</h1>
    <div class="header-flex">
        <div class="item-flex item-flex-description">
            <p class="p-header-description">Bienvenido a <span class="name-page-header"> Academia Virtual</span>, tu plataforma de aprendizaje en línea. Ofrecemos una amplia 
                variedad de cursos diseñados para ayudarte a adquirir nuevas habilidades y expandir tus conocimientos
                en diferentes áreas.</p>
        </div>
        <div class="item-flex item-flex-img">
            <img class="img-header" src="../../../assets/img/women-in-tech.png" alt="">
        </div>
    </div>
</header>
