<div class="course-info">
    <div class="course-header">
        <h2>¿Por qué crear un curso?</h2>
        <span class="subheader">Descubre las oportunidades y ventajas</span>
    </div>
    <p>Crear un curso te permite compartir tus conocimientos y habilidades con otros, ayudarles a crecer profesionalmente y establecerte como un experto en tu campo. Además, puede ser una excelente oportunidad para generar ingresos pasivos.</p>
    <p>A través de un curso, puedes:</p>
    <ul>
        <li>Empoderar a los estudiantes con nuevas habilidades y conocimientos.</li>
        <li>Crear una comunidad de aprendizaje en torno a un tema específico.</li>
        <li>Utilizar plataformas en línea para alcanzar una audiencia global.</li>
        <li>Obtener retroalimentación valiosa que puede mejorar tus habilidades de enseñanza.</li>
        <li>Contribuir a la educación continua y al desarrollo profesional de otros.</li>
    </ul>
    <p class="call-to-action">¡No pierdas la oportunidad de hacer un impacto positivo y monetizar tu experiencia!</p>
</div>
