/* ================================
        RESET / NORMALIZATION
   ================================ */
* {
    padding: 0;
    margin: 0;                 
    box-sizing: border-box;    
}

/* ================================
        GLOBAL STYLES
   ================================ */
body {
    height: 100%;              
    width: 100%;               
    background-color: #f4f4f9; 
}


/* ================================
        Buton
   ================================ */

.detail-button {
    margin: 10px 0; 
    padding: 8px 16px; 
    cursor: pointer; 
}


/* Clase compartida para animaciones en botones y enlaces */
.btn-animacion {
    transition: transform 0.2s ease, box-shadow 0.3s ease; 
}

/* Estilos para los botones */
/* Animación de pulsación */
@keyframes pulse {
    0% {
        transform: translateY(-3px) scale(1.05); 
    }
    50% {
        transform: translateY(-5px) scale(1.1); 
    }
    100% {
        transform: translateY(-3px) scale(1.05); 
    }
}

/* Clase compartida para animaciones en botones y enlaces */
.btn-animacion {
    transition: transform 0.2s ease, box-shadow 0.3s ease; 
}

/* Estilos para los botones */
.btn-load {
    background-color: #00296b; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;  
    max-width: 500px;  
    margin: 10px auto; 
    position: relative; 
}

/* Estilo al pasar el ratón en el botón */
.btn-animacion:hover {
    animation: pulse 0.6s ease-in-out infinite; 
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.5); 
}

/* Efecto de clic en el botón */
.btn-animacion:active {
    transform: scale(0.95); /* Reduce el tamaño del botón al hacer clic */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Cambia la sombra al hacer clic */
}


/* Definición de la animación fadeInUp */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;   
        gap: 10px; 
    }
    
    .container-add-course {
        grid-row: auto;
        grid-column-start: auto;            
    }
    
    .header-flex {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .item-flex {
        width: 100%;             
              
    }

    .p-header-description {
        text-align: center;     
    }

    nav ul li {
        display: block;   
        margin: 10px 0;   
          
    }
}

