<section class="section-list-course" id="list-course"> 
    <h2 class="section-title">
        <span class="highlight">Todos los cursos de</span> Academia Virtual
    </h2>
    <p class="section-description">
        Aquí tienes acceso a <span class="highlight">todos nuestros cursos disponibles</span>. 
        Ya sea que busques mejorar tus habilidades o aprender algo nuevo, tenemos el curso adecuado para ti.
    </p>
    <div id="grip-all-card" class="main-list-card">
        @for (course of listCourse; track $index) {
            <app-card-course [course]="course"></app-card-course>
        }
    </div>
</section>